/*background-color: rgb(255, 215, 188);*/

.sidebarIconSpace {
  margin-right: 8px;
}

#landing {
  /*background-image: url("../assets/images/landing/wallpaper1.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: rgb(255, 215, 188);
}

#index {
  /*margin-top: 70px;*/ /*add if using landing centre image*/
  /*height: 1065px;*/ /*add if using landing centre image*/
  border-radius: 7px;
  color: black;
  font-size: 20px;
}

.imgLandingCentre {
  display: block;
  margin: auto;
  width: 600px;
  filter: grayscale(100%);
}

.imgLandingCover {
  /*width: 1310px;*/ /*add if using landing centre image*/
  width: 100%;
  /*filter: grayscale(100%);*/
}

.imgLandingCaption {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(49, 21, 2);
}

.cardProject {
  width: 18rem;
  /*height: 80%;*/
}

.card-img-top {
  /*height: 420px;*/
}

.rowProject {
  margin-bottom: 15px;
}
