.sidebarIconSpace {
  margin-right: 8px;
}

#landing {
  background-color: rgb(255, 215, 188);
}

#index {
  margin-top: 70px;
  height: 1065px;
  border-radius: 7px;
  color: black;
  font-size: 20px;
}

.imgLandingCentre {
  display: block;
  margin: auto;
  width: 600px;
  filter: grayscale(100%);
}

.imgLandingCover {
  /*width: 1310px;*/
  /*opacity: 90%;*/
  filter: grayscale(100%);
  /*margin-top: 80px;*/
}

.imgLandingCaption {
  margin-top: 15px;
  font-size: 55px;
  color: black;
  display: block;
  text-align: center;
}

.cardProject {
  width: 18rem;
  /*height: 80%;*/
}

.card-img-top {
  /*height: 420px;*/
}

.rowProject {
  margin-bottom: 15px;
}
